#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("/images/joshua-bartell-6vvIBTvL90A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
img {
  max-width: 30%;
  height: auto;
}
.cat-facts-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: x-small;
}
